.intro{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border-style: double;
}

.body{
  display: flex;
}

.upcoming{
  flex: 1;
  border-style: double;
/*   margin-right: 300px; */
}

.opinions{
  padding-left: 30px;
/*   margin-right: 20px; */
  border-style: double;
  
}
